### Environment Variables ###
.flaskenv

### Logs ###
logs

### PyCharm ###
.idea

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# sqlite db #
app.db

# venv #
venv