{% extends "base.html" %}

{% block content %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }} <br/>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }} <br/>
            {% for error in form.password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat_password.label }}
            {{ form.repeat_password(size=32) }} <br/>
            {% for error in form.repeat_password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}